.nd-usfm {
    font-variant: small-caps;
}

.chapter {
    overflow: auto;
    margin-bottom: .5em;
}

.c-usfm {
    float: left;
    font-size: 200%;
    margin: 0 0.2em 0 0;
    display: inline;
    background-color: lightgray;
}

.v-usfm {
    display: inline;
    margin: 0 0.2em 0 0;
    background-color: lightgray;
    white-space: nowrap;
}

/* Give space between verse numbers when a verse is empty.
The verse is empty if the inline container is empty and it is 
the last child. */
.empty-inline-container:last-child {
    margin: 0 .5em 0 0;
}

.c-usfm.front,.v-usfm.front {
    display: none;
}

.context-menu:not(:empty) {
    padding: 8px 7px 6px;
    position: absolute;
    z-index: 1;
    top: -10000px;
    left: -10000px;
    margin-top: -6px;
    opacity: 0;
    background-color: #222;
    border-radius: 4px;
    transition: opacity 0.75s;
}

p {
    margin: 0;
}

hr {
    margin: 0;
}

/* Only display breaks that come at the start of new paragraphs */
br {
    display: none;
}
br.paragraph-break {
    display: block;
}

.hide-following-line-break + br {
    display: none;
}

h1 { text-align: center; margin: 0.5em 0 0; font-size: 2em; }
h2 { text-align: center; margin: 0.5em 0 0; font-size: 1.5em; }
h3 { text-align: center; margin: 0.5em; font-size: 1.17em; }
h4 { text-align: center; margin: 0.5em 0 0; font-size: 1.12em; }
h5 { text-align: center; margin: 0.5em 0 0; font-size: .83em; }
h6 { text-align: center; margin: 0.5em 0 0; font-size: .75em; }