.Chapter {
    display: block;
}

.Verse {
    display: inline;
}

.ChapterNumber {
    float: left;
    font-size: 200%;
    margin: 0 0.2em 0 0;
    display: inline;
    background-color: lightgray;
}

.VerseNumber {
    display: inline;
    margin: 0 0.2em 0 0;
    background-color: lightgray;
}

.VerseNumber.One {
    /*display: none;*/
}

.ChapterNumber.Front,.VerseNumber.Front {
    display: none;
}

.BookId {
    display: none;
}

.NomenDomini {
    font-variant: small-caps;
}

.Footnote {
    display: inline-block;
    outline: dashed deeppink;
    background-color: pink;
}

p {
    margin: 0;
}

hr {
    margin: 0;
}

br {
    display: none;
}

br.ParagraphBreak {
    display: block;
}

/* Hides BRs if they are the first child of any element that
immediately follows an element with the HideFollowingLineBreak class  */
.HideFollowingLineBreak + * br:first-child {
    display: none;
} 

h1 { text-align: center; margin: 0.5em; font-size: 2em; }
h2 { text-align: center; margin: 0.5em; font-size: 1.5em; }
h3 { text-align: center; margin: 0.5em; font-size: 1.17em; }
h4 { text-align: center; margin: 0.5em; font-size: 1.12em; }
h5 { text-align: center; margin: 0.5em; font-size: .83em; }
h6 { text-align: center; margin: 0.5em; font-size: .75em; }
